<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Your Reservation</title>

</head>
<body>
    <form method="get" action="/api/reservation/">
        <input type="number" name="id" value=""><br>
        <button type="submit" value="Submit"></button>
    </form>

    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{first_name}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{last_name}}</td>
    </tr>
    <tr>
        <td>Check In Date</td>
        <td>{{check_in}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{last_name}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{last_name}}</td>
    </tr>


</body>
</html>